.sponsor-gold {
  max-width: 350px;
  max-height: 480px;
}

.sponsor-silver {
  max-width: 280px;
  max-height: 400px;
}

.sponsor-bronze {
  max-width: 200px;
  max-height: 320px;
}

.sponsor-iron-4 {
  max-width: 150px;
  max-height: 250px;
}

.sponsor-iron-2 {
  max-width: 120px;
  max-height: 150px;
}


.speaker-ethcc {
  height: 120px;
  width: 120px;
  border-radius:50px;
}

#kyber-btn {
      background: none;
      display: inline-block;
      text-transform: uppercase;
      font-family:  Roboto Mono;
      font-size: 16px;
      text-align: center;
      color: #ff5733;
    }
  #kyber-btn:hover {
    color: #ffffff;
  }
